{
   "_source":"SourceForge",
   "_prefix":"sf",
   "_action":"import",
   "_schema":"sf0314",
   "data":[
      {
         "indicatorName":"devLinks",
         "indicatorDescription":"Links to source code repositories",
         "indicatorType":"character",
         "resultType":"data.frame",
         "requestSQL":"SELECT * FROM ${schema}.external_tool_links"
      },
      {
         "indicatorName":"prjLicense",
         "indicatorDescription":"Project's license",
         "indicatorType":"character",
         "resultType":"data.frame",
         "requestSQL":"SELECT license FROM ${schema}.groups WHERE group_id < 10000"
      },
      {
         "indicatorName":"devSupport",
         "indicatorDescription":"Existense of unrestricted dev. support",
         "indicatorType":"character",
         "resultType":"data.frame",
         "requestSQL":"
SELECT group_id, preferred_support_type, preferred_support_resource
FROM sf0314.groups
WHERE preferred_support_type = 6 AND group_id < 10000"
      },
      {
         "indicatorName":"totalProjects",
         "indicatorDescription":"Total number of unique projects",
         "indicatorType":"numeric",
         "resultType":"numeric",
         "requestSQL":"SELECT COUNT(DISTINCT group_id) FROM ${schema}.user_group"
      },
      {
         "indicatorName":"totalDevs",
         "indicatorDescription":"Total number of developers per project",
         "indicatorType":"numeric",
         "resultType":"data.frame",
         "requestSQL":"SELECT COUNT(*) FROM ${schema}.user_group WHERE group_id = 78745"
      },
      {
         "indicatorName":"AllProjects",
         "indicatorDescription":"Information about all projects",
         "indicatorType":"string",
         "resultType":"data.frame",
         "requestSQL":"SELECT * FROM ${schema}.groups WHERE group_id < 10000"
      }
   ]
}
