ost/
cache/
graphics/
*.acn
*.aux
*.bcf
*.run.xml
*.tex
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.mw
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*tikzDictionary
cache/*.RData
cache/*.rdb
cache/*.rdx
cache/*packages